body {
    font-family: 'Rubik', sans-serif
}

.container {
    margin-top: 50px
}

#baf a {
    color: rgb(0, 0, 0, 0.5)
}

#user {
    font-size: 3vh;
    color: black;
    position: relative;
    bottom: 0.5vh
}

.input-group-addon {
    background-color: black;
    color: black
}

.navbar {
    background-color: inherit
}

#sm {
    height: 20vh;
    width: 20vh;
    border-radius: 5vw
}

#detail {
    padding: 2vw;
    color: black;
    padding-bottom: 2vh
}

#play {
    background-color: green;
    color: black;
    width: 80px;
    border-radius: 25px
}

#like {
    color: black;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    background: inherit;
    border: 1px solid white
}

#more {
    color: black;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    background: inherit;
    border: 1px solid white
}

tbody {
    color: black
}

thead {
    color: rgb(0, 0, 0, 0.5)
}

.table {}

#dir {
    font-size: 5vh
}

#dir a {
    color: black;
    position: relative;
    bottom: 1vh
}

#dir a:focus {
    background: inherit
}

@media only screen and (max-width: 425px) {
    #dir {
        display: none
    }

    #sm {
        position: relative;
        left: 30vw;
        border-radius: 10vh
    }
}

@media only screen and (min-width: 426px) and (max-width: 767px) {
    #dir {
        display: none
    }

    #sm {
        position: relative;
        left: 35vw;
        border-radius: 10vh
    }
}