@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;1,300;1,700&display=swap');

.water_brush{
    font-family: "Water Brush", cursive;
    font-size: 36px;
}
.cormorant{
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-size: 28px;
}

.margined{
    margin-top: 30px;
}

.no-outline:focus{
    box-shadow: none;
    border: 1px solid #ced4da;
}

.btn-song-lyrics{
    color: black;
}

.cormorant-regular{
    font-family: 'Cormorant Garamond', serif;
    font-weight: normal;
    font-size: 22px;
}

.cormorant-bold{
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    font-style: italic;
    font-size: 4.8rem;
}

#createArtistPage{
    color: black;
    text-decoration: underline black;
    transition: 0.3s;
}

#createArtistPage:hover{
    color: #e3b04b;
    text-decoration: underline #e3b04b;
}

#add-song:hover > img{
    content: url("../resources/plusY.png");
}

#add-song-image{
    content: url("../resources/plusB.png");
}

#logout-image{
    content: url("../resources/logoutB.png");
}

#logout:hover > img{
    content: url("../resources/logoutY.png");
}

#table_filter:focus{
    border: 1px solid #ced4da;
}

#logout{
    transition: 0.5s;
}

#logout:hover{
    text-decoration: #e3b04b underline 2px;
}

#searchBtn{
    transition: 0.5s;
}

#searchBtn:hover{
    background-color: #e3b04b !important;
    border-color: #ced4da;
    color: white;
}

.yellow-button{
    background-color: white !important;
    border-color: #ced4da;
    color: black;
}

.yellow-button:hover{
    background-color: #e3b04b !important;
    border-color: #ced4da;
    color: white;
}

.welcome::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: #4FC3F7;
    animation: cursorBlink 0.8s steps(3) 1;
}

@keyframes cursorBlink {

    0%,
    75% {
        opacity: 1;
    }

    76%,
    100% {
        opacity: 0;
    }
}

.welcome {
    position: relative;
}

.welcome h1 {
    position: relative;
    color: Black;
    width: 500px;
    letter-spacing: 5px;
    font-size: 8.5rem;
    overflow: hidden;
    margin-bottom: 0;
    animation: type 3s steps(11) 1;
}

@keyframes type {

    0%,
    50% {
        width: 0px;
    }

    50%,
    100% {
        width: 500px;
    }
}

@media(max-width: 330px) {
    .welcome h2 {
        font-size: 3rem;
        animation: type 5s steps(10) infinite;
    }

    @keyframes type {

        0%,
        50% {
            width: 250px;
        }

        50%,
        100% {
            width: 500px;
        }
    }
}
