@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;1,300;1,700&display=swap');

.water_brush{
    font-family: "Water Brush", cursive;
    font-size: 36px;
}
.cormorant{
    font-family: Programme, Arial, sans-serif;
    font-size: 1.30rem !important;
}

.margined{
    margin-top: 30px;
}

.no-outline:focus {
    box-shadow: none;
    border: none;
    color: black;
}
.no-outline:active {
    box-shadow: none;
    border: none;
    color: black;
}
.no-outline:active:focus {
    box-shadow: none;
    border: none;
    color: black;
}

.btn-song-lyrics{
    color: black;
}

.cormorant-regular{
    font-family: Programme, Arial, sans-serif;
    font-weight: normal;
    font-size: 0.95rem;
}

.cormorant-bold{
    font-family: Programme, Arial, sans-serif;
    font-weight: bold;
    font-size: 3.6rem !important;
    text-size-adjust: 100% !important;
}

.yellow-highlight{
    color: black;
    text-decoration: none !important;
}

.yellow-highlight:hover{
    color: #ffd633;
}

#add-song:hover > img{
    content: url("../resources/add_song_yellow.png");
}

#add-song-image{
    content: url("../resources/add_song_black.png");
}

#logout-image{
    content: url("../resources/logout.png");
}

#logout:hover > img{
    content: url("../resources/logout_yellow.png");
}

#table_filter:focus{
    border: 1px solid #ced4da;
}

#logout:hover{
    color: #ffd633;
}

#searchBtn{
    transition: 0.5s;
}

#searchBtn:hover{
    background-color: #ffd633 !important;
}

.yellow-button{
    background-color: #ffd633 !important;
    border-color: #ffd633;
    color: black!important;
}

.yellow-button:hover{
    border: #ffcc00 !important;
    background: #ffcc00 !important;
    color: black !important;
    -o-transition: .3s all ease;
}

.yellow-button:active{
    border: #ffd633 !important;
    background: #ffd633 !important;
    color: black !important;
    -o-transition: .3s all ease;
}

.welcome::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: #4FC3F7;
    animation: cursorBlink 0.8s steps(3) 1;
}

@keyframes cursorBlink {

    0%,
    75% {
        opacity: 1;
    }

    76%,
    100% {
        opacity: 0;
    }
}

.welcome {
    position: relative;
}

.welcome h1 {
    position: relative;
    color: Black;
    width: 500px;
    letter-spacing: 5px;
    font-size: calc(80px + 2vw);
    overflow: hidden;
    margin-bottom: 0;
    animation: type 3s steps(11) 1;
}

@keyframes type {

    0%,
    50% {
        width: 0px;
    }

    50%,
    100% {
        width: 500px;
    }
}

@media(max-width: 1080px) {
    .welcome h1 {
        font-size: calc(80px + 5vw);
        animation: type 3s steps(10) 1;
    }

    @keyframes type {

        0%,
        50% {
            width: 250px;
        }

        50%,
        100% {
            width: 500px;
        }
    }
}
.form-control {
    padding: 0.3rem 0.6rem;}

.form-control:focus, .form-control:active {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ffd633 !important; }

.form-select:focus, .form-control:active {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ffd633 !important; }

.form-select:focus > option:checked{
    background: red !important;
}